/* http://material-foundation.github.io/material-theme-builder/?primary=%236153E6&bodyFont=Raleway&displayFont=Raleway&colorMatch=false */

.dark {
	--primary: rgb(197 192 255);
	--surface-tint: rgb(197 192 255);
	--on-primary: rgb(45 41 96);
	--primary-container: rgb(68 64 120);
	--on-primary-container: rgb(227 223 255);
	--secondary: rgb(200 196 220);
	--on-secondary: rgb(48 46 66);
	--secondary-container: rgb(70 69 89);
	--on-secondary-container: rgb(228 223 249);
	--tertiary: rgb(235 184 208);
	--on-tertiary: rgb(71 37 56);
	--tertiary-container: rgb(96 59 79);
	--on-tertiary-container: rgb(255 216 233);
	--error: rgb(255 180 171);
	--on-error: rgb(105 0 5);
	--error-container: rgb(147 0 10);
	--on-error-container: rgb(255 218 214);
	--background: rgb(19 19 24);
	--on-background: rgb(229 225 233);
	--surface: rgb(19 19 24);
	--on-surface: rgb(229 225 233);
	--surface-variant: rgb(71 70 79);
	--on-surface-variant: rgb(200 197 208);
	--outline: rgb(146 143 153);
	--outline-variant: rgb(71 70 79);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(229 225 233);
	--inverse-on-surface: rgb(49 48 54);
	--inverse-primary: rgb(92 88 145);
	--primary-fixed: rgb(227 223 255);
	--on-primary-fixed: rgb(24 18 74);
	--primary-fixed-dim: rgb(197 192 255);
	--on-primary-fixed-variant: rgb(68 64 120);
	--secondary-fixed: rgb(228 223 249);
	--on-secondary-fixed: rgb(27 26 44);
	--secondary-fixed-dim: rgb(200 196 220);
	--on-secondary-fixed-variant: rgb(70 69 89);
	--tertiary-fixed: rgb(255 216 233);
	--on-tertiary-fixed: rgb(47 17 34);
	--tertiary-fixed-dim: rgb(235 184 208);
	--on-tertiary-fixed-variant: rgb(96 59 79);
	--surface-dim: rgb(19 19 24);
	--surface-bright: rgb(58 56 63);
	--surface-container-lowest: rgb(14 14 19);
	--surface-container-low: rgb(28 27 32);
	--surface-container: rgb(32 31 37);
	--surface-container-high: rgb(42 41 47);
	--surface-container-highest: rgb(53 52 58);
}
