.dark {
	--primary: rgb(214 187 251);
	--surface-tint: rgb(214 187 251);
	--on-primary: rgb(59 37 91);
	--primary-container: rgb(82 60 115);
	--on-primary-container: rgb(237 220 255);
	--secondary: rgb(206 194 218);
	--on-secondary: rgb(53 45 64);
	--secondary-container: rgb(76 67 87);
	--on-secondary-container: rgb(235 221 247);
	--tertiary: rgb(242 183 194);
	--on-tertiary: rgb(75 37 45);
	--tertiary-container: rgb(101 59 68);
	--on-tertiary-container: rgb(255 217 223);
	--error: rgb(255 180 171);
	--on-error: rgb(105 0 5);
	--error-container: rgb(147 0 10);
	--on-error-container: rgb(255 218 214);
	--background: rgb(21 18 24);
	--on-background: rgb(231 224 232);
	--surface: rgb(21 18 24);
	--on-surface: rgb(231 224 232);
	--surface-variant: rgb(74 69 78);
	--on-surface-variant: rgb(204 196 207);
	--outline: rgb(149 142 153);
	--outline-variant: rgb(74 69 78);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(231 224 232);
	--inverse-on-surface: rgb(50 47 53);
	--inverse-primary: rgb(107 83 140);
	--primary-fixed: rgb(237 220 255);
	--on-primary-fixed: rgb(37 14 68);
	--primary-fixed-dim: rgb(214 187 251);
	--on-primary-fixed-variant: rgb(82 60 115);
	--secondary-fixed: rgb(235 221 247);
	--on-secondary-fixed: rgb(32 24 42);
	--secondary-fixed-dim: rgb(206 194 218);
	--on-secondary-fixed-variant: rgb(76 67 87);
	--tertiary-fixed: rgb(255 217 223);
	--on-tertiary-fixed: rgb(50 16 25);
	--tertiary-fixed-dim: rgb(242 183 194);
	--on-tertiary-fixed-variant: rgb(101 59 68);
	--surface-dim: rgb(21 18 24);
	--surface-bright: rgb(59 56 62);
	--surface-container-lowest: rgb(16 13 18);
	--surface-container-low: rgb(29 26 32);
	--surface-container: rgb(33 30 36);
	--surface-container-high: rgb(44 41 47);
	--surface-container-highest: rgb(55 51 58);
}
