/* http://material-foundation.github.io/material-theme-builder/?primary=%236153E6&bodyFont=Raleway&displayFont=Raleway&colorMatch=false */

.light {
	--primary: rgb(92 88 145);
	--surface-tint: rgb(92 88 145);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(227 223 255);
	--on-primary-container: rgb(68 64 120);
	--secondary: rgb(94 92 113);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(228 223 249);
	--on-secondary-container: rgb(70 69 89);
	--tertiary: rgb(123 82 103);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(255 216 233);
	--on-tertiary-container: rgb(96 59 79);
	--error: rgb(186 26 26);
	--on-error: rgb(255 255 255);
	--error-container: rgb(255 218 214);
	--on-error-container: rgb(147 0 10);
	--background: rgb(252 248 255);
	--on-background: rgb(28 27 32);
	--surface: rgb(252 248 255);
	--on-surface: rgb(28 27 32);
	--surface-variant: rgb(229 225 236);
	--on-surface-variant: rgb(71 70 79);
	--outline: rgb(120 118 128);
	--outline-variant: rgb(200 197 208);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(49 48 54);
	--inverse-on-surface: rgb(243 239 247);
	--inverse-primary: rgb(197 192 255);
	--primary-fixed: rgb(227 223 255);
	--on-primary-fixed: rgb(24 18 74);
	--primary-fixed-dim: rgb(197 192 255);
	--on-primary-fixed-variant: rgb(68 64 120);
	--secondary-fixed: rgb(228 223 249);
	--on-secondary-fixed: rgb(27 26 44);
	--secondary-fixed-dim: rgb(200 196 220);
	--on-secondary-fixed-variant: rgb(70 69 89);
	--tertiary-fixed: rgb(255 216 233);
	--on-tertiary-fixed: rgb(47 17 34);
	--tertiary-fixed-dim: rgb(235 184 208);
	--on-tertiary-fixed-variant: rgb(96 59 79);
	--surface-dim: rgb(220 216 224);
	--surface-bright: rgb(252 248 255);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(246 242 250);
	--surface-container: rgb(240 236 244);
	--surface-container-high: rgb(235 231 239);
	--surface-container-highest: rgb(229 225 233);
}
