.light {
	--primary: rgb(107 83 140);
	--surface-tint: rgb(107 83 140);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(237 220 255);
	--on-primary-container: rgb(82 60 115);
	--secondary: rgb(100 90 112);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(235 221 247);
	--on-secondary-container: rgb(76 67 87);
	--tertiary: rgb(127 82 91);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(255 217 223);
	--on-tertiary-container: rgb(101 59 68);
	--error: rgb(186 26 26);
	--on-error: rgb(255 255 255);
	--error-container: rgb(255 218 214);
	--on-error-container: rgb(147 0 10);
	--background: rgb(255 247 255);
	--on-background: rgb(29 26 32);
	--surface: rgb(255 247 255);
	--on-surface: rgb(29 26 32);
	--surface-variant: rgb(232 224 235);
	--on-surface-variant: rgb(74 69 78);
	--outline: rgb(123 117 127);
	--outline-variant: rgb(204 196 207);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(50 47 53);
	--inverse-on-surface: rgb(246 238 246);
	--inverse-primary: rgb(214 187 251);
	--primary-fixed: rgb(237 220 255);
	--on-primary-fixed: rgb(37 14 68);
	--primary-fixed-dim: rgb(214 187 251);
	--on-primary-fixed-variant: rgb(82 60 115);
	--secondary-fixed: rgb(235 221 247);
	--on-secondary-fixed: rgb(32 24 42);
	--secondary-fixed-dim: rgb(206 194 218);
	--on-secondary-fixed-variant: rgb(76 67 87);
	--tertiary-fixed: rgb(255 217 223);
	--on-tertiary-fixed: rgb(50 16 25);
	--tertiary-fixed-dim: rgb(242 183 194);
	--on-tertiary-fixed-variant: rgb(101 59 68);
	--surface-dim: rgb(223 216 224);
	--surface-bright: rgb(255 247 255);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(249 241 249);
	--surface-container: rgb(243 236 244);
	--surface-container-high: rgb(237 230 238);
	--surface-container-highest: rgb(231 224 232);
}
