dialog::backdrop {
	background-color: var(--scrim);
	opacity: 60%;
}

main > .dialog-form {
	background-color: var(--surface-container-lowest);
	width: 90vw;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--elevation-1);
	inset: 0;
	margin: auto;
}

.dialog-form > form > h3 {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	color: var(--primary);
	gap: 0.5rem;
}

/* H3 tag icon */
.dialog-form > form > h3 > span:first-child {
	font-size: 1.5rem;
}

.dialog-form > form > fieldset {
	display: grid;
	gap: 0.75rem;
	margin-top: 1.75rem;
}

/* Input containers */
.todo-form > fieldset > div {
	display: flex;
	gap: 2px;
	flex-direction: column;
}

.todo-form > fieldset > div > label {
	font-size: 1rem;
	color: var(--on-surface);
}

.todo-form > fieldset > div > input,
.todo-form > fieldset > div > select,
.todo-form > fieldset > div > textarea {
	font-size: 1rem;
	padding: 0.5rem 0.25rem;
	border: 1px solid var(--outline);
	border-radius: 0.25rem;
}

.todo-form > fieldset > div > textarea {
	resize: none;
}

.todo-form > .form-btn-container {
	margin-top: 1.75rem;
	display: flex;
	gap: 0.25rem;
}

.todo-form > .form-btn-container button {
	padding: 1rem;
	width: 100%;
}

.todo-form > .form-btn-container button > span {
	font-size: 1.25rem;
}

/* Button Icon */
.todo-form > .form-btn-container button > span:first-child {
	font-size: 1.5rem;
}

/* Small Devices */
@media (width >= 40rem) {
	main > .dialog-form {
		width: 80vw;
	}

	.dialog-form > form > h3 {
		font-size: 1.5rem;
	}

	.dialog-form > form > h3 > span:first-child {
		font-size: 1.75rem;
	}
}

/* Medium Devices */
@media (width >= 48rem) {
	main > .dialog-form {
		width: 70vw;
	}
}

/* Large Devices */
@media (width >= 64rem) {
	main > .dialog-form {
		width: 50vw;
	}
}

/* Extra Large Devices */
@media (width >= 80rem) {
	main > .dialog-form {
		width: 40vw;
	}
}

/* 2XL Devices */
@media (width >= 96rem) {
	main > .dialog-form {
		width: 30vw;
	}
}
